@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --color-darkpurple: #201f31;
    --color-lightpink: #ffbade;
    --color-darkpink: #d39bbc;
}

.no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }

  